$blur: blur(9px);

@-webkit-keyframes rotating /* Safari and Chrome */
{
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
}

.wheel-logo {
  width: 3.2rem;
  height: 3.2rem;

}
.banner-content{
  display: -webkit-inline-box;
}

.banner-container{
  &:after {
    content: none !important;
  }
}
.banner {
  width: 100em;
  height: 6em;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 10px;
  box-shadow: inset 0 0 4px 4px rgba(37, 174, 172, 0.47);;
  justify-content: center;
  display: table-cell;

  &:before {
    border: transparent;
    background: inherit;
    background-clip: border-box;
    -webkit-filter: $blur;
    filter: $blur;
  }
}

.banner-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: calc(50% - 3.2rem);
  margin-left: calc(50% + 1rem) !important;

  padding: 1.6rem 0 1.6rem 0;
  margin-bottom: 0.8rem;
}

.shadow {
  width: 100%;
  height: 6em;
  padding: 0;
  border-radius: 10px;

  -webkit-box-shadow: 10px 10px 18px -8px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 10px 10px 18px -8px rgba(0, 0, 0, 0.55);
  box-shadow: 10px 10px 18px -8px rgba(0, 0, 0, 0.55);
}

.logo-container {
  //width: 100%;
  margin-left: -45px
}

.no-margin {
  margin: 0 !important;
}
