//.cdk-overlay-pane {
//  margin: 0 auto;
//}
.cdk-overlay-container {
  z-index: 2000;
}

.cdk-overlay-pane {
  overflow: scroll;
  max-width: 80vw !important;
}

@media only screen and (max-width: 600px) {
  .cdk-overlay-pane {
    overflow: scroll;
    max-width: 100vw !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .cdk-overlay-pane {
    overflow: scroll;
    max-width: 100vw !important;
  }
}
