.voucher-container {
  .header-image {
    background: url("~assets/img/voucher-banner.jpeg");
    height: 250px;
    background-size: cover;
  }

  .overlay-container {
    padding: 0 20px;
    text-align: center;

    h1 {
      text-transform: uppercase;
    }

    .footer {
      margin-top: 10px;
      margin-bottom: 35px
    }

    .example-full-width {
      width: 76%;
      padding-top: 20px;
    }
  }
}
