app-wheel-of-fortune-overlay {
  h1 {
    text-align: center;
  }

  .wheel-canvas {
    width: 30%;
    justify-content: center;
    margin: auto;
    align-items: center;
    display: flex;
    position: relative;
  }

  .canvas-container {
    z-index: 1006;
  }

  .button-stop-start {
    font-family: "bloomSpeakTitleHeavy", Helvetica, Verdana, Arial, Sans-serif;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 0.5rem 2.5rem;
    font-size: 2rem;
    text-decoration: none;
    line-height: 4rem;
    border-radius: 0.8rem;
    color: #ffffff;
    white-space: nowrap;
    min-height: 4rem;
    background-color: #d73754;
    border: 0.1rem solid transparent;
    margin: 25px auto;
    display: block;
  }

  .pointing-finger {
    width: 18vw;
    height: auto;
    z-index: 10;
    margin: 0 auto;
    display: block;
    margin-bottom: -12px;
    padding-right: 4px;
    position: relative;

    @media (min-width: 768px) {
      width: 5vw;
      margin-bottom: -20px;
      padding-right: 4px;
    }
  }

  @media only screen and (max-width: 600px) {
    .wheel-canvas {
      width: 70%;

    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .wheel-canvas {
      width: 100%;
    }
  }

}
